/* HOMEPAGE */
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, Arial;
    }

    header{
        height: 80px;
        padding:0px 20px;
        display: flex;
        align-items: center;
        background-color: #222;
    }

    .logo{
        color: #fff;
        font-size: 24px;
    }

    .hero{
       min-height: calc(100vh - 80px);
       background-color: #f4f4f4;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
    }

    .profile-pic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }

    .hero h2 {
        margin-bottom: 5px;
    }

    .hero p{
        margin-bottom: 5px;
    }

    .contact-info p{
        margin-bottom: 5px;
    }

    .contact-info a{
        text-decoration: none;
        color: #222;
        transition: color 0.3s ease;
    }

    .contact-info a:hover{
        color: #0077ff;
        cursor: pointer;
    }

    .about-me-btn{
        display: inline-block;
        text-decoration: none;
        padding: 12px 30px;
        background-color: #222;
        color: #fff;
        border: 2px solid transparent;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .about-me-btn:hover{
        background-color: #0077ff;
        color: #fff;
        border-color: #0077ff;
        box-shadow: 0 4px 10px rgba(0, 119, 255, 0.2);
    }

    .about-me-btn:focus{
        outline: none;
        box-shadow: 0 0 5px #0077ff;
    }
